/* Thanks to Snow77, Skalpa and Leostotch for the initial work, Dugris for help  */
/* Mor.pho.GEN.e.sis version 2.1 by kris (http://www.xoofoo.org and http://www.frxoops.org) */
/* file name : style.css - 12 01 2008 */

/* IMPORTANT !!! :
	propriety semantic order =
	position box,
	width,
	heigth,
	margin,
	background-color,
	background-image,
	padding,
	content (color, style font, ...),
	border,
	 ... */

/* incorporation de feuilles de styles complmentaires */
@import url(content.css);
@import url(content-data.css);
@import url(blocks.css);
@import url(forms.css);

/* reset des slecteurs */
* { margin: 0; padding: 0; border: 0; outline: none; text-decoration: none;font-family: sans-serif; font-size: 1em; font-weight: normal; font-style: normal;}



/* beginning of the applicable styles */
html, body {
	margin:							0;
	background: 			    #000;
	padding:						0 10px;
	color:							#fff;
	font-family:					"Lucida Grande", Verdana, sans-serif;
	font-size:						10pt;
}
body.site_closed form {	padding: 1em 35%;}

/* ======= Body box ======= */
#xo-wrapper {}
#xo-bgstatic {}
#xo-canvas {
	margin:							0;
	background-color: 			    #fff;
	color:							#333;
}
body.theme-dialog #xo-canvas {
	margin:							0 6px;
}
/*================= Content zone ===================*/
#xo-canvas-content {
	background:  url(../img/bg-body.jpg) repeat-y #2B2B2C 50% 50%;
	padding:						1px;
	color:							#666;
}
#xo-page {
	color:						#666;
	border: 					1px;
}
#xo-canvas-rightcolumn {padding: .5em; }
#xo-canvas-leftcolumn {padding: .5em;}
#xo-content {
	clear:							both;
	margin:							0;
	padding:							.5em;
	color:							#f7f6f5;
}
#xo-uptop {
	margin: 							0;
	background-color: 			transparent;
	padding-top: 					5px;
	color: 							inherit;
	font-size: 						.9em;
	text-align:						right;
}
#xo-uptop a {
	background-color: 			inherit;
	color: 							#c8e31e;
}
#xo-uptop a:hover {
background-color: 				inherit;
color: 								#01bdbc;
}
#xo-logger-output { font-size:	.8em;}
/* ============== header ================= */
#xo-header {}
#xo-top {
	height: 							32px;
	background-color:				#333;
	color: 							#fff;
}
/* ---------- Banner ---------- */
#xo-banner {
	clear:							both;
	position:						relative;
	width:							100%;
	height:							220px;
	z-index:							10;
    background: url(../img/h4.jpg) top center !important;
	color:							#666;
}
#xo-banner.commercial {
	height:							220px;
}
body.theme-dialog #xo-banner {
	height:							48px;
	padding-top:					6px;
	padding-left:					10px;
}
#xo-banner-ad {
	position:						absolute;
	top:								15px;
	right:							60px;
}
#xo-banner-ad object, #xo-banner-ad img {
	display:							block;
}
/*---------------------- site title in the header ----------------------------*/
#xo-site-title {
	position: 						relative;
	top: 								10px;
	background-color: 			transparent;
	padding: 						10px 0 0 20px;
	font-family:	 				"Lucida Grande","Trebuchet MS", Verdana, sans-serif;
	font-size:						2.2em;
	font-weight:					bold;
}
a#xo-site-title {
	background-color: 			inherit;
	color:							#01bdbc;
}
a:hover#xo-site-title {
	background-color: 			inherit;
	color: 							#fff;
}
#xo-site-title.commercial {
	margin: 							0 20px;
	padding: 						10px 0 0 0;
 }
 #xo-site-title.commercial a:hover {
	background-color: 			inherit;
	color:							#01bdbc;
}
/*----------------------- slogan in the header ------------------------*/
#xo-site-slogan {
	position: 						relative;
	top: 								10px;
	padding-left: 					70px;
	font-style: 					italic;
}
#xo-site-slogan.commercial {}
/*------------------------ Logo in the header ----------------------------*/
#xo-main-logo {
	position: 						relative;
	top: 								15px;
	background: 					inherit;
	padding-left: 					10px;
	color:							#666;
	}
#xo-main-logo.commercial {}
/*-------- style forms in the header-----------*/
#xo-banner form {
	display:							inline;
	margin:							0;
}
#xo-banner input {
	width:							8em;
	margin:							0 0 0 2px;
	background-color:				#E2E2E2;
	color:							#333;
}
/*=============== Style for the Footer  ====================*/
#xo-footer {
	height: 						80px;
	margin:							0;
	background: 			        #000;
	color:							#ccc;
	font-size:						.8em;
}
body.theme-dialog #xo-footer { padding: .2em .5em; font-size:	.8em;}
#xo-footer a {
	background-color:				inherit;
	color: 							#01bdbc;
	text-decoration: 				none;
}
#xo-footer a:hover {
	background-color:				inherit;
	color: 							#fff;
	text-decoration: 				underline;
}
#xo-footer .copyright {
	padding: 10px 3px;
	text-align: center;
	font-weight: normal;
	color: #CCCCCC;
	text-decoration: none;
	font-size: 12px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #fff;
	background-color: #2F110F;

}
#xo-footer .rss {
    right: 							2px;
	background-color: 			transparent;
	padding-top :					10px;
	color: 							inherit;
}
#xo-footer .rss a:hover {	text-decoration: none;}
#xo-footer a#rss, #xo-footer a#rss:hover {
	background: 				transparent	url(../icons/action/feed.png) no-repeat center;
	background-position: center !important;
	padding-right: 				49%;
	padding-left: 				49%;
	width: 16px;
    height: 16px;
	color: 						inherit;
	text-decoration: 			none;
}
/*========== Main menu block =============*/
#mainmenu a {
	display: 						block;
	margin: 							0;
	padding: 						1px;
	font-weight: 					500;
	border-bottom: 1px solid #666;
}
#mainmenu a:hover {
    background-color:				#333 !important;
	text-decoration:				none !important;
	border-bottom: 1px solid #f7f7f7;
}
#mainmenu a.menuTop, #mainmenu a.menuMain {padding-left: 8px; }
#mainmenu a.menuSub {
	background-color:				inherit;
	padding-left: 					20px;
	color:							#bfb88f;
	font-size:						.8em;
	font-style: 					italic;
}
#mainmenu a.menuSub:hover {
	background-color: 			inherit;
	color:							#f7f7f7;
}

/*============ Usermenu block ============*/
#usermenu a {
	display: 						block;
	background-color: 			inherit;
	padding: 						2px;
	color:							#c8e31e;
	font-size: 						0.8em;
	font-weight: 					normal;
	line-height: 					1em;
}
#usermenu a:hover {
	background-color: 			inherit;
	padding-left: 					1em;
	color:							#666;
	font-style: 					italic;
	text-decoration:				none !important;
	border-left:					1px solid #666;
	border-bottom:					1px solid #666;
}
#usermenu a.menuTop {}
#usermenu a.highlight {
	background-color: 			#333;
	color: 							#ccc;
}

/*=========== for old templates system ============*/
#usermenu a, #mainmenu a {	display: block;}
.xo-canvas-column .menuSub { padding-left: 1em;}
