/*  
Template original : Ginger Ninja! v2
Version: 1.0
Author: Donny Burnside
Author URI: http://www.ginger-ninja.net/
Modified for Xoops by Kris
URI : http://www.xoofoo.org
*/

@import url(forms.css);
@import url(blocks.css);
@import url(content.css);


html, body {
	background:						url(img/bg_g.jpg) repeat top center  #E8F7F9;
	font-family:					"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 						10px;
	color:							#222;
	}

* {
	margin:							0;
	padding:							0;
	}

table { width: 					100%;}
table td {
	padding: 						0;
	border-width: 					0;
	vertical-align: 				top;
}
#xo-canvas {
	margin:							0 auto;
	width:							750px;
	background:						#fff;
	font-size:						1.2em;
}
body.theme-dialog #xo-canvas {
	margin:							0px 6px;
}

/* ---------- Bannières ---------- */
#xo-banner {
	height:							140px;
	/*background:						url(img/bg-header.jpg) no-repeat;*/
	border-top: 15px solid #fff;
	border-left: 15px solid #fff;
    border-right: 15px solid #fff;
}
#xo-banner.commercial {}
body.theme-dialog #xo-banner {
	padding-top:					6px;
	padding-left:					10px;
	height:							48px;
}
/* Keep the ad img centered by using auto-margins and centeredcontainer/leftalignedchild on MSIE */
#xo-banner-ad {
	margin-left: 					110px;
	display: 						block;
	width:							480px;
	height:							72px;
	background:						url(img/bg-ad-top.png) no-repeat;
	padding:							6px;
}
#xo-banner-ad object, #xo-banner-ad img {
	display:							block;
}

/*---------------------- Nom du site dans le header ----------------------------*/
#xo-site-title {
	background-color: 			transparent;
}
#xo-site-title .commercial a:hover {
	background-color: 			transparent;
}
h1 #xo-site-title  {
	padding: 						10px 0 0 5px;
	margin: 							0px;
	position:						relative;
	top:								50px;
	left:								30px;
	text-decoration: 				none;
}
#xo-site-title.commercial {
	text-decoration: 				none;
	font-size: 						2em;
	font-weight: 					bold;
	padding: 						10px 0 0 0px;
	margin: 							0px 10px;
 }
/*----------------------- titre du slogan du site dans le header ------------------------*/
#xo-site-slogan {
	color: 							#666;
	font-style: 					italic;
	padding-left: 					40px;
	background-color: 			transparent;
}
#xo-site-slogan.commercial {}

/*------------------------ Affichage du logo ----------------------------*/
#xo-main-logo {
	padding-left: 					10px;
	background-color: 			transparent;
	}
#xo-main-logo.commercial {
	}
/*-------- Affichage des champs de saisie dans le header-----------*/
#xo-banner form {
	margin:							0px;
	display:							inline;
}
#xo-banner input {
	width:							8em;
	margin:							0px 0px 0px 2px;
}

/*============== Styles pour l'include userbar.html =================*/
#xo-userbar {
   float:							right;
	height: 							35px;
	margin-right:					10px;
	padding-top:					20px;
	color:							#FFF;
}
#xo-userbar form {
	display:							inline;
	padding:							0;
}
#xo-userbar button {
	margin: 							0 -3px;
	padding-right:							30px;
	background:						transparent none;
	border:							none;
}

#xo-userbar input {
	width: 							80px;
	color:							#333;
}

 #xo-userbar a {
	color: 							#6CA6DC;
	background-color: 			inherit;
} 
#xo-userbar a:hover {
	background-color: 			inherit;
	text-decoration:none;
	color: 							#000;
}
#xo-uname {

}
/*============= Style pour l'include globalnav.html ================*/
#xo-globalnav {
	height:							72px;
	background:						url(img/bg-menu.png) repeat-x;
	padding:							0 15px;
	margin:							0;
}
* html #xo-globalnav { height: 35px; }

#xo-globalnav .x2-label {
	display:							none;
}
#xo-globalnav li {
	list-style-type:				none;
	float:							right;
	line-height:					35px;
}
#xo-globalnav li a {
	padding:							0 15px;
	display:							block;
	color:							#fff;
	margin-right:					2px;
	background-color: 			inherit;
}
#xo-globalnav li a:hover {
	background:						url(img/dd.jpg) repeat center center;
}
/*================= Feed ==========================*/

#xo-feed {
	height:							25px;
	width:							126px;
	background:						url(img/bg-feed.gif) no-repeat;
	margin:							0 auto;
	float:							left;
	padding-left:					26px;
	}
a.xo-feed-button {
	display:							block;
    width:							100px;
    height:							25px;
    background:					url("img/button-feed.png") 0 0 no-repeat;
    text-decoration: 			none;
	}
a:hover.xo-feed-button {
	background-position:			0 -25px;
	}
/*=============== Affichage Pied de page - Footer  ====================*/
#xo-footer {
	clear:							both;
	height:							120px;
	background:						url(img/secondary-bg.png) repeat;

}
#xo-footer .infooter {
	padding-top:					60px;
	padding-right:					120px;
	padding-left:					120px;
	cursor:							default;
	color:							#fff;
	font-size: 						.9em;
	background-color: 			transparent;
}
body.theme-dialog #xo-footer { padding: .2em .5em; font-size:	.8em; }
#xo-footer a {
	background-color: 			transparent;
	color:							#8DA1B5;
	text-decoration:				none;
}
#xo-footer a:hover {
	color: 							#000;
	background-color: 			transparent;
}
#design {
	height:							180px;
	padding-top:					180px;
	padding-right:					30px;
	cursor:							default;
	color:							#fff;
	font-size: 						.9em;
	background-color: 			transparent;
}
#design a {
	background-color: 			transparent;
	color:							#8DA1B5;
	text-decoration:				none;
}
#design a:hover {
	color: 							#000;
	background-color: 			transparent;
}
/*================= Zone de contenu ===================*/
#xo-canvas-content {
	margin-top:						1px;
	background-color: 			#F2F5F9;
	border-left: 15px solid #fff;
    border-right: 15px solid #fff;
	border-top: 15px solid #fff;
    border-bottom: 15px solid #fff;
}
#xo-page {
	width:							500px;
	min-height:						400px;
}
#xo-canvas-rightcolumn {padding: .5em;}
#xo-content {
	clear:							both;
	padding:							.5em;
	margin:							0px;
	color:							#333;
	background-color:				#F2F5F9;
}

#xo-logger-output {font-size:	.8em;}

/*========== Menu principal dans bloc =============*/
#mainmenu {
	background-color: 			#efefef;
	clear:							both;
}
#mainmenu a {
	width: 							140px;
	padding-top: 					4px;
	padding-bottom: 				4px;
	color:							#222 !important;
	padding-left:					5px;
	border-bottom:					1px solid #ddd;
}
#mainmenu a:hover {
	background:						#edebed;
	color:							#6CC4D8 !important;
	text-decoration: 				none !important;
}
#mainmenu a.menuTop, #mainmenu a.menuMain {padding-left: 8px; }
#mainmenu a.menuSub {
	color: 							#815E0B !important;
	font-size:						.8em;
	font-style: 					italic;
	background-color:				inherit;
}
#mainmenu a.menuSub:hover {
	color:							#6CC4D8 !important;
	background-color: 			inherit;
}

/*============ Menu utilisateur dans bloc ============*/
#usermenu a {
	display: 						block;
	margin: 							0;
	padding: 						2px;
	font-weight: 					normal;
	font-size: 						0.9em;
	line-height: 					1em;
	background-color: 			inherit;
}
#usermenu a:hover {
	padding-left: 					1.5em;
	font-style: 					italic;
	text-decoration:				none !important;
	background-color: 			inherit;
}
#usermenu a.menuTop {}
#usermenu a.highlight {
	background-color: 			#333;
	color: 							#ccc;
}

/*=========== Règles nécessaires pour les anciens templates des modules ============*/
#usermenu a, #mainmenu a {	display: block;}
.xo-canvas-column .menuSub { padding-left: 1em;}

#xo1 {
	background:						url(img/bg_g.jpg) repeat top center  #fff;
	height:							60px;
}
#xo2 {
	background:						url(img/bg_g.jpg) repeat top center  #fff;
	height:							40px;
}

#xo-searchbar {
   float:							left;
   height:							40px;
   padding-top:				    	20px;
}