/* Thanks to Snow77, Skalpa and Leostotch for the initial work, Dugris for help  */
/* Mor.pho.GEN.e.sis version 2.1 by kris (http://www.xoofoo.org and http://www.frxoops.org) */
/* file name : style.css - 12 01 2008 */

/* IMPORTANT !!! :
	propriety semantic order =
	position box,
	width,
	heigth,
	margin,
	background-color,
	background-image,
	padding,
	content (color, style font, ...),
	border,
	 ... */

/* incorporation de feuilles de styles complémentaires */
@import url(content.css);
@import url(content-data.css);
@import url(blocks.css);
@import url(forms.css);

/* reset des sélecteurs */
* { margin: 0; padding: 0; border: 0; outline: none; text-decoration: none;font-family: sans-serif; font-size: 1em; font-weight: normal; font-style: normal;}



/* beginning of the applicable styles */
html, body {
	margin:							0;
	background:#fff url(../img/bg.jpg) repeat-x; 
	font: 11px Verdana, Arial, Helvetica, sans-serif; 
	color:#333;
}
body.site_closed form {	padding: 1em 35%;}

/* ======= Body box ======= */
#xo-wrapper {}
#xo-bgstatic {}
#xo-canvas {
	width:954px;
	margin:25px auto;
}
body.theme-dialog #xo-canvas {
	margin:							0 6px;
}
/*================= Content zone ===================*/
#xo-canvas-content {
	color:							#666;
	background:url(../img/pagebg.png) repeat-y; 
	padding:2px 9px 0 9px; 
	margin:0;
}
#xo-page {
	background-color:				#fff;
	color:							#666;
}
#xo-canvas-rightcolumn {padding: .5em;}
#xo-content {
	clear:							both;
	margin:							0;
	background-color:				#fff;
	padding:							.5em;
	color:							#333; 
}
#xo-uptop {
	margin: 							0;
	background-color: 			transparent;
	padding-top: 					5px;
	color: 							inherit;
	font-size: 						.9em;
	text-align:						right;
}
#xo-uptop a {
	background-color: 			inherit;
	color: 							#32529C;
}
#xo-uptop a:hover {
background-color: 				inherit;
color: 								#EAAD7B;
}
#xo-logger-output { font-size:	.8em;}
/* ============== header ================= */
#xo-header {}
#xo-top {
	height: 							32px;
	background-color:				#E2E2E2;
	color: 							#333;
}
/* ---------- Banner ---------- */
#xo-banner {
	background:url(../img/header.png) no-repeat; 
	height:207px;
}
#xo-banner.commercial {
	height:							207px;
}
body.theme-dialog #xo-banner {
	height:							48px;
	padding-top:					6px;
	padding-left:					10px;
}
#xo-banner-ad {
	position:						absolute;
	top:								15px;
	right:							60px;
}
#xo-banner-ad object, #xo-banner-ad img {
	display:							block;
}
/*---------------------- site title in the header ----------------------------*/
#xo-site-title {
	position: 						relative;
	top: 								10px;
	background-color: 			transparent;
	padding: 						10px 0 0 20px;
	font-family:	 				"Lucida Grande","Trebuchet MS", Verdana, sans-serif;
	font-size:						2.2em;
	font-weight:					bold;
}
a#xo-site-title {
	background-color: 			inherit;
	color:							#EAAD7B;
}
a:hover#xo-site-title {
	background-color: 			inherit;
	color: 							#fff;
}
#xo-site-title.commercial {
	margin: 							0 20px;
	padding: 						10px 0 0 0;
 }
 #xo-site-title.commercial a:hover {
	background-color: 			inherit;
	color:							#EAAD7B;
}
/*----------------------- slogan in the header ------------------------*/
#xo-site-slogan {
	position: 						relative;
	top: 								10px;
	padding-left: 					70px;
	font-style: 					italic;
}
#xo-site-slogan.commercial {}
/*------------------------ Logo in the header ----------------------------*/
#xo-main-logo {
	position: 						relative;
	top: 								15px;
	background: 					inherit;
	padding-left: 					10px;
	color:							#666;
	}
#xo-main-logo.commercial {}
/*-------- style forms in the header-----------*/
#xo-banner form {
	display:							inline;
	margin:							0;
}
#xo-banner input {
	width:							8em;
	margin:							0 0 0 2px;
	background-color:				#E2E2E2;
	color:							#333;
}
/*=============== Style for the Footer  ====================*/
#footer {
	background: url(../img/footer.png) no-repeat;
	height: 70px;
	padding-top: 10px;
	text-align: center;
}
#footer a { 
   color: #68a805;
}
#footer a:hover {
   color: #bddd12;
}
#xocfooter {
   text-align: center;
}
#footer .rss {
	float: 							center;
	right: 							2px;
	background-color: 			transparent;
	padding-top :					10px;
	color: 							inherit;
}
#footer a#rss, #footer a#rss:hover {	
   background: 					transparent	url(../icons/action/feed.png) no-repeat center right;
	padding-right: 				16px;
	color: 							inherit;
	text-decoration: 				none;
}
/*========== Main menu block =============*/
#mainmenu a {
   text-align:                center;
	display: 						block;
	margin: 							5px;
	padding: 						2px;
	font-weight: 					500;
	background:                url(../img/bullet.png)no-repeat;
	border-bottom:					1px solid #666;
}
#mainmenu a:hover {
	text-decoration:				none !important;
	color:							#bdd010;
	border-bottom:					1px solid #333;
}
#mainmenu a.menuTop, #mainmenu a.menuMain {padding-left: 8px; }
#mainmenu a.menuSub {
	background-color:				inherit;
	padding-left: 					20px;
	color:							#666;
	font-size:						.8em;
	font-style: 					italic;
}
#mainmenu a.menuSub:hover {
	background-color: 			inherit;
	color:							#32529C;
}

/*============ Usermenu block ============*/
#usermenu a {
	display: 						block;
	background-color: 			inherit;
	padding: 						2px;
	color:							#32529C;
	font-size: 						0.8em;
	font-weight: 					normal;
	line-height: 					1em;
}
#usermenu a:hover {
	background-color: 			inherit;
	padding-left: 					1em;
	color:							#666;
	font-style: 					italic;
	text-decoration:				none !important;
}
#usermenu a.menuTop {}
#usermenu a.highlight {
	background-color: 			#333;
	color: 							#ccc;
}

/*=========== for old templates system ============*/
#usermenu a, #mainmenu a {	display: block;}
.xo-canvas-column .menuSub { padding-left: 1em;}

/*=========== for banner from main css template ( by: http://www.ramblingsoul.com/ )  ============*/
#logo #sitename {
	font-size: 36px;
	color: #000000;
	display: block;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #C6C6C6;
}
#headercontent h2 {
	font-size: 18px;
	color: #5B920A;
}
#wrap #header #logo .description {
	display: block;
	text-align: center;
	font-size: 16px;
	padding-top: 10px;
}
#wrap #header #headercontent p {
	color: #666666;
}
#wrap #header #sitecption {
	margin-right: 380px;
	margin-left: 380px;
	padding-top: 85px;
	color: #FFFFFF;
	font: bold 16px "Trebuchet MS", halvetica, Verdana, sans-serif;
}
.bigger {
	font: 18px "Trebuchet MS", halvetica, Verdana, sans-serif;
	color: #C0EC15;
}


#wrap #header #logo {
	width: 260px;
	padding-top: 50px;
	padding-left: 50px;
	height: 150px;
	float: left;
}
#wrap #header #headercontent {
	width: 300px;
	float: right;
	padding-right: 55px;
	padding-top: 60px;
	height: 125px;
}
